@model List<Supplements.Models.ModelDomain>

<!-- grow -->
@foreach(Supplements.Models.Product product in Model)
{
<div class="product">
    <div class="container">
        <div class="product-price1">
            <div class="top-sing">
                <div class="col-md-7 single-top">
                    <div class="flexslider">
                        <ul class="slides">
                            <li data-thumb="../../Content/Images/topwhey.jpg">
                                <div class="thumb-image"> <img src="~/Content/Images/topwhey.jpg" data-imagezoom="true" class="img-responsive"> </div>
                            </li>
                            <li data-thumb="../../Content/Images/si1.jpg">
                                <div class="thumb-image"> <img src="~/Content/Images/si1.jpg" data-imagezoom="true" class="img-responsive"> </div>
                            </li>
                            <li data-thumb="../../Content/Images/si2.jpg">
                                <div class="thumb-image"> <img src="~/Content/Images/si2.jpg" data-imagezoom="true" class="img-responsive"> </div>
                            </li>
                            <li data-thumb="../../Content/Images/si3.jpg">
                                <div class="thumb-image"> <img src="~/Content/Images/si3.jpg" data-imagezoom="true" class="img-responsive"> </div>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-5 single-top-in simpleCart_shelfItem">
                <div class="single-para ">
                    <h4>@product.Name</h4>
                    <div class="star-on">
                        <div class="review">
                            <a href="#"> 1 customer review </a>
                        </div>
                        <span class="productSKU">SKU: @product.SKU</span>
                        <div class="clearfix"> </div>
                    </div>

                    <h5 class="item_price">R$ @product.Price</h5>
                    <p>
                        A produtc description example.
                    </p>
                    
                    <a href="#" class="add-cart item_add">COMPRAR</a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
}
<script>
    // Can also be used with $(document).ready()
    $(document).ready(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: "thumbnails"
        });
    });
</script>