<!DOCTYPE html>


<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/Content/Css/bootstrap.css" />     
        <link rel="stylesheet" href="~/Content/Css/flexslider.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="~/Content/Css/app.css" />
        <!--fonts-->
        <link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'><!--//fonts-->
        <!--Scripts-->
        <script defer src="~/Scripts/js/jquery.flexslider.js"></script>
        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Scripts/js/bootstrap.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
        <title>Home</title>
    </head>
    <body>
        <header>
            <nav class="navbar-default">
                <div class="container-fluid container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">ESupplements</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Contato</a></li>
                            <li class="btn-logar">@Html.ActionLink("Login","Index","Authentication")</li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>    

        <section class="container">@RenderBody()</section>    
        
        <footer class="footer">
            <div class="footer-class">
                <p>© 2017 CASTROTecnologia . All Rights Reserved  </p>
            </div>
        </footer>        
    </body>
</html>