
<link rel="stylesheet" href="~/Content/Css/appShowcase.css" />

<div class="banner">
    <div class="container">
        <script src="~/Scripts/js/responsiveslides.min.js"></script>
        <script>
            $(function () {
                $("#slider").responsiveSlides({
                    auto: true,
                    nav: true,
                    speed: 500,
                    namespace: "callbacks",
                    pager: true,
                });
            });
        </script>
        <div id="top" class="callbacks_container">
            <ul class="rslides" id="slider">
                <li>
                      <div class="banner-text">
                        <h3>Massa Muscular</h3>
                        <p>Obtenha resultados rapidamente com produtos de qualidade.</p>

                    </div>
                </li>
                <li>
                    <div class="banner-text">
                        <h3>Definição muscular</h3>
                        <p>Chegue ao extremo com disposição para o um treino de qualidade</p>
                    </div>
                </li>
                <li>
                    <div class="banner-text">
                        <h3>Qualidade de vida</h3>
                        <p>Obtenta um ótimo condicionamento físico</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="showcase">
    <div class="showcase-toolbar">
        <div class="sort">
            <div class="sort-by">
                <label>Sort By</label>
                <select>
                    <option value="">
                        Popularity
                    </option>
                    <option value="">
                        Price : High to Low
                    </option>
                    <option value="">
                        Price : Low to High
                    </option>
                </select>
            </div>
        </div>
        <div class="pager">
            <div class="limiter visible-desktop">
                <label>Show</label>
                <select>
                    <option value="" selected="selected">
                        9
                    </option>
                    <option value="">
                        15
                    </option>
                    <option value="">
                        30
                    </option>
                </select> per page
            </div>
            <ul class="dc_pagination dc_paginationA dc_paginationA06">
                <li><a href="#" class="previous">Pages</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="showcase-products">
        <div class="span_2">
            <div class="col_1_of_single1 span_1_of_single1">
                <a href="single.html">
                    <img src="images/1.jpg" class="img-responsive" alt="" />
                    <h3>parum clari</h3>
                    <p>Duis autem vel eum iriure</p>
                    <h4>Rs.399</h4>
                </a>
            </div>
            <div class="col_1_of_single1 span_1_of_single1">
                <a href="single.html">
                    <img src="images/2.jpg" class="img-responsive" alt="" />
                    <h3>parum clari</h3>
                    <p>Duis autem vel eum iriure</p>
                    <h4>Rs.399</h4>
                </a>
            </div>
            <div class="col_1_of_single1 span_1_of_single1">
                <a href="single.html">
                    <img src="images/3.jpg" class="img-responsive" alt="" />
                    <h3>parum clari</h3>
                    <p>Duis autem vel eum iriure</p>
                    <h4>Rs.399</h4>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="span_2">
            <div class="col_1_of_single1 span_1_of_single1">
                <a href="single.html">
                    <img src="images/4.jpg" class="img-responsive" alt="" />
                    <h3>parum clari</h3>
                    <p>Duis autem vel eum iriure</p>
                    <h4>Rs.399</h4>
                </a>
            </div>
            <div class="col_1_of_single1 span_1_of_single1">
                <a href="single.html">
                    <img src="images/5.jpg" class="img-responsive" alt="" />
                    <h3>parum clari</h3>
                    <p>Duis autem vel eum iriure</p>
                    <h4>Rs.399</h4>
                </a>
            </div>
            <div class="col_1_of_single1 span_1_of_single1">
                <a href="single.html">
                    <img src="images/6.jpg" class="img-responsive" alt="" />
                    <h3>parum clari</h3>
                    <p>Duis autem vel eum iriure</p>
                    <h4>Rs.399</h4>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="span_3">
            <div class="col_1_of_single1 span_1_of_single1">
                <a href="single.html">
                    <img src="images/7.jpg" class="img-responsive" alt="" />
                    <h3>parum clari</h3>
                    <p>Duis autem vel eum iriure</p>
                    <h4>Rs.399</h4>
                </a>
            </div>
            <div class="col_1_of_single1 span_1_of_single1">
                <a href="single.html">
                    <img src="images/8.jpg" class="img-responsive" alt="" />
                    <h3>parum clari</h3>
                    <p>Duis autem vel eum iriure</p>
                    <h4>Rs.399</h4>
                </a>
            </div>
            <div class="col_1_of_single1 span_1_of_single1">
                <a href="single.html">
                    <img src="images/9.jpg" class="img-responsive" alt="" />
                    <h3>parum clari</h3>
                    <p>Duis autem vel eum iriure</p>
                    <h4>Rs.399</h4>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

