    <div> 
        <form action="/product/Create" class="form-control" method="post">
            <label for="name">Name: </label>
            <input id="name" name="product.name" />

            <label for="sku">SKU: </label>
            <input id="sku" name="product.sku" />

            <label for="ean">EAN: </label>
            <input id="ean" name="product.ean" />

            <label for="quantityStock">Quantity in stock: </label>
            <input id="quantityStock" name="product.quantityStock" />

            <label for="odlPrice">Old Price: </label>
            <input id="odlPrice" name="product.odlPrice" />

            <label for="price">Price: </label>
            <input id="price" name="product.price" />

            <input type="submit" value="Create" />
        </form>
    </div>

