<h1 class="text-muted">Cadasto de produtos</h1>
        <form action="/product/Create" method="post">
            
            <label for="name">Título: </label>
            <input id="name" name="product.name" class="form-control" />

            <label for="sku">SKU: </label>
            <input id="sku" name="product.sku" class="form-control" />

            <label for="ean">EAN: </label>
            <input id="ean" name="product.ean" class="form-control" />

            <label for="quantityStock">Quantidade em estoque: </label>
            <input id="quantityStock" name="product.quantityStock" class="form-control" />

            <label for="odlPrice">Preço antigo: </label>
            <input id="odlPrice" name="product.oldPrice" class="form-control" />

            <label for="price">Preço: </label>
            <input id="price" name="product.price" class="form-control" />
            <br />
            <input type="submit" value="Cadastrar" class="btn"/> 
        </form>



